.form-flex, .form-fields {
    display: flex !important;
    flex-wrap: wrap !important;
}

.taskBtn{
    text-align: center;
    margin: 20px;
}

label{
    display: none !important;
}

.photo{
    max-width: 90%;
    width: 50%;
}

.affichage-telephone{
    margin-top: 50px;
}

.arrow-size{
    font-size: 5em;
}

.grille{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 10px;
    width: 45%;
    margin: auto;
    border: 10px outset rgba(255,0,0,0.65);
    border-radius: 10px;
}

.phrase{
    margin: 10px auto;
    grid-column: 1/4;
    grid-row: 1;
}

.photo-tibo{
    grid-column: 1;
    grid-row: 2;
    margin: 10px !important;
}

.fleche{
    margin: auto;
    grid-column: 2;
    grid-row: 2;
}

.photo-maxime{
    grid-column: 3;
    grid-row: 2;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 932px) {
    .affichage-telephone{
        display: none;
    }
}