.eye-mdp{
  position: relative;
  left : -30px;
  border-bottom: 1px gray solid;
}

.page-footer{
  display: none !important;
}

#erreur{
  list-style: none;
}

body{
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000% 1000%;
	animation: gradient 15s ease infinite;
}

.footer-copyright{
  color: #fff !important;
}

nav{
  background: transparent !important;
}

.grandParentContainer{
  height: 70vh;
}

form {
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  /* Uniquement centrer le formulaire sur la page */
  margin: auto;
  width: 50%;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: white;
}
  
form div + div {
  margin-top: 1.5em;
}
  
label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}
  
input{
  font-size: 16px;
  color: #333333;
  line-height: 1.2;

  display: block;
  width: 97%;
  height: 55px;
  background: transparent;
  padding: 0 30px 0 7px;

  border : none;
  border-bottom: 1px gray solid;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-bottom: 1px #000 solid;
}
  
textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.titre_login{
  font-weight: bold;
  text-align: center;
}

.link{
  font-size: 0.8em; 
  width : 45%; 
  color: rgb(0,0,100);
  display: inline-block;
}

@media screen and (max-width: 932px){
  form {
    left: auto;
    top: auto;
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    width: 80%;
  }
  .grandParentContainer{
    position: static !important;
    height: auto !important;
  }
}

/* --- Dark Mode --- */
.dark {
  height: 100%;
  background: linear-gradient(-45deg, #18a16f, #1066ad, #7521cf, #c7300a);
  background-size: 1000%;
  animation: gradient 15s ease infinite;
}
.dark main{
  background: transparent;
}
.dark form {
  background-color: #313131;
}
.dark label {
  color : #c0c0c0;
}
.dark input {
  color : #c0c0c0;
}
.dark .link {
  color: rgb(98, 140, 231);
}
.dark .link:hover {
  color : rgb(135, 164, 228) 
}